node_modules/
dist/
server_version/
apps/
.env
.env.local
.gradle/
.kotlin/
local.properties
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
GeneratedPluginRegistrant.java
*.iml
*.jks
*.keystore
